<!DOCTYPE html>
<html>
<head>
  <title>#NLP</title>
  {{> head_metaTags}}
  {{> head_commonStylesheets}}
  <link href="/css/apps/nlp/nlp.css" rel="stylesheet" media="screen">
  <script data-main="/js/apps/nlp/main" src="/js/require-min.js"></script>
</head>

<body class="home concept-net">

  <div class="container">
    
  </div>

  <!-- Footer Section -->
  <footer>

  </footer>

</body>
</html>