<header id="header">
	<div id="topbar" class="toggleable">
		{{#unless hideLogo}}
		<a href="/" class="title">
			<div id="avatar"></div>
			<h1></h1>
		</a>
		{{/unless}}
		<a id="slide" class="toggleable"><div id="icon"></div></a>
	</div>  
</header>