
/*
 * General page structure (skeleton partial)
 */

/* Side Menu ----------- */
#sidebar {
	background: none repeat scroll 0 0 #111111;
	height: 100%;
	overflow-y: scroll;
	padding: 50px 40px;
	position: fixed;
	right: -220px;
	top: 0;
	width: 220px;
	z-index: 30;
	
	&.slide {
		right: 0;
	}
	
	#navigation {
		border-bottom: 1px solid #222222;
		margin: 0 0 25px;
		padding: 0 0 25px;
		
		li {
			list-style-type: none;
		
			a {
				color: #fff;
				display: block;
				font-size: 12px;
				letter-spacing: 1px;
				margin: 0 0 12px;
				text-transform: uppercase;
			}
		}
	}
}

/* Body of content ----------- */
#section-body {
	padding-bottom:40px;
	position: relative;
	right: 0;
	
	&.slide {
		right: 220px;
	}
	
	.container {
		margin: auto;
		padding: 40px 0;
		position: relative;
		width: 1160px;
	}
}

/* footer ----------- */
footer {
	background: #000;
	color: #fff;
	margin: 15px 0 0 0;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100%;
	
	a {
  	color: #fff;
  	
  	.tech-crunch {
  		color:#fff;
  	}
  }
	
	site-map {
  	float: left;
  	list-style-type: none;
  	overflow: hidden;
  	
  	li {
    	float: left;
    	font-size: 1.2em;
    	margin: 0 15px 0 0;
    	text-transform: uppercase;
    }
  }
  
  .footer-section {
    overflow:hidden;
  }
  
  .footer-group {
  	float: right;
  	text-align: right;
  	margin-top: 5px;
  	margin-right: 20px;
  	
  	p {
    	margin: 10px 0;
    }
    
    .made-by,
  	.copyright {
  		font-weight: 200;
  		line-height: 1em;
  	}
  	
    .made-by,
    .copyright {
    	font-size: .6em;
    	font-weight: 200;
    	line-height: 1em;
    }
    
    .made-by {
    	font-size: 1em;
    }
  }
  
  .footer-group-article {
  	float: left;
  	margin: 15px 0 0 50px;

  	.article {
  	  margin-right:25px;

  	   img {
  	    border:0;
  	   }
  	}

  	.tech-crunch img {
  		border:0;
  		margin-bottom:-5px;
  	}

  	.abc-news img {
  		margin-bottom:-5px;
  	}
  }
  
  .store-options {
		display: none;
	}
}