<section class="top">
  <h2>concept...</h2>
  <textarea id="message-window">
    Hi, what would you like to talk about?
  </textarea>
  <input type="text" id="talk-box" placeholder="" value="The big, happy dog ran around the town."/>
  <button class="send-text button-primary">Send</button>
</section>